:root {
    --amarelo: #ffe556;
    --azul: #00bcf0;
    --vermelho: #ff2200;
    --branco: #e1ebed;
    --rosa: #ef5976;
    --rosa-claro: #F8A2A1; 
    --laranja: #e7963f;
    --vermelho-claro: #cc4b45;
    --vermelho-escuro: #e93702;   
    --cinza: #222b38;
}